@import '../../variables.scss';

.loginPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  font-family: $main-font;
}

.loginMain {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.loginHeader {
  width: 100%;
  font-family: $grotesk-semibold;
  color: $highlight;
  font-size: 27px;
  font-weight: 600;
  text-align: left;
  align-self: flex-start;
  padding: 30px 30px 40px;
}

.separatorLineCaption {
  color: #000000;
  font-family: $main-font;
  font-weight: 400;
  padding: 55px 0;
}

.loginBody {
  flex: 1;
  background-color: $white;
  border-radius: 20px 20px 0 0;
  padding: 30px 30px 22px;
  display: flex;
  flex-direction: column;
}

.form {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formLabel {
  font-family: $main-font;
  font-size: 16px;
}

.textField {
  margin-bottom: 10px;
  background-color: #ffffff;
}

.forgotPasswordLink {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  align-self: flex-end;
}

.submitButtonContainer {
  position: relative;
}

.submitBtn {
  height: 50px;
}

.signupLinkContainer {
  display: flex;
  justify-content: center;
  padding-top: 17px;
  color: #464646;

  p {
    padding-right: 5px;
  }
}
