@import '../../variables.scss';

.renewPasswordPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  font-family: $main-font;
}

.renewPasswordMain {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.renewPasswordHeader {
  width: 100%;
  color: $highlight;
  font-size: 27px;
  font-family: $grotesk-semibold;
  text-align: left;
  align-self: flex-start;
  padding: 60px 30px 30px;
}

.renewPasswordBody {
  flex: 1;
  background-color: $white;
  border-radius: 20px 20px 0 0;
  padding: 65px 30px 22px;
  display: flex;
  flex-direction: column;
}

.resetPasswordBtn {
  margin-top: 33px;
  height: 48px;
}
