.stockingContainer {
  position: relative;
  height: 100%;
  width: 100%;

  &.clickable {
    cursor: pointer;
  }
}

.stockingMain {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
