@import '../../variables.scss';

.searchPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.searchMain {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.searchHeader {
  width: 100%;
  color: $white;
  text-align: left;
  align-self: flex-start;
  font-family: $grotesk-semibold;
  font-size: 32px;
  padding: 46px 30px 30px;
}

.searchBody {
  background-color: $white;
  border-radius: 20px 20px 0 0;
  padding-top: 30px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  // For the inner div to scroll, I need to give the element or the parent element a definite value for height.
  // flex: 1;
  height: calc(100vh - 148px);
}

.searchBar {
  margin: 25px 16px;
  flex-shrink: 0;
}

.displayStockingCount {
  display: flex;
  align-self: flex-start;
  padding: 0 36px 25px;
  color: $highlight;
  font-size: 15px;
  font-family: $grotesk-semibold;
  font-weight: 600;
}

.stockingList {
  border-bottom: 1px solid transparent;
  overflow-y: auto;
  white-space: nowrap;
  padding: 0 16px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .searchBody {
    flex: 1;
    height: 100%;
  }

  .stockingList {
    height: 530px;
    overflow-y: auto;
    white-space: nowrap;
  }
}
