@import '../../variables.scss';

.listItemContainer {
  display: flex;
  height: 90px;
  box-sizing: border-box;
  margin-bottom: 14px;
  background-color: #ffffff;
  border: 2px solid #dfdfdf;
  border-radius: 18px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
}

.listItemButton {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 6px;
  cursor: pointer;
}

.stockingThumbnailContainer {
  flex-shrink: 0;
  width: 72px;
  height: 100%;
  border-radius: 13px;
  border: solid 2px rgba(0, 0, 0, 0.07);
  background-color: #fff;

  .stockingThumbnail {
    object-fit: contain;
    height: 100%;
    padding: 7px;
  }
}

.message {
  flex: 1;
  padding: 5px 12px;
  height: 100%;
  width: calc((100% - 72px) - 36px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.previewUsername {
  display: flex;
  flex-direction: row;
  font-family: $grotesk-extrabold;
  font-size: 15px;
  color: $highlight;

  .unreadStar {
    font-size: 25px;
    line-height: 20px;
    color: #c61a09;
    padding-left: 2px;
  }
}

.previewMessage {
  white-space: normal;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: $grotesk-semibold;
  text-overflow: ellipsis;
  text-align: left;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #676767;
}

.date {
  font-size: 12px;
  font-weight: 400;
  color: #676767;
  padding-top: 5px;
  align-self: flex-end;
}

.favoriteToggleButton {
  background-color: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}
