$primary-background: #d4243b;
$white: #fafafa;
$black: #272525;

$primary-button: #d4243b;
$primary-button-darker: #b61f33;

$disabled-button: #bdbdbd;
$disabled-button-darker: #9d9d9d;

$highlight: #001689;

$input-error: #d4243b;

$input-color: #272525;

$main-font: 'Poppins', sans-serif;
$grotesk-regular: 'HKGroteskRegular', sans-serif;
$grotesk-medium: 'HKGroteskMedium', sans-serif;
$grotesk-semibold: 'HKGroteskSemibold', sans-serif;
$grotesk-bold: 'HKGroteskBold', sans-serif;
$grotesk-extrabold: 'HKGroteskExtraBold', sans-serif;
