@import '../../variables.scss';

.fireplacePage {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: $white;
}

.fireplaceMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.fireplaceHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $primary-background;
  z-index: 2;
}

.profileContainer {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  border: 1px solid $primary-background;
  padding: 0 20px;

  .guestAvatar {
    border-radius: 50%;
    background-color: #bababa;
    height: 80px;
    width: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.welcomeMessage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $grotesk-semibold;
  font-size: 16px;
  color: #ffffff;

  .headerMainMessage {
    font-size: 27px;
  }
}

.myFireplaceInstruction {
  font-family: $grotesk-semibold;
  font-size: 16px;
  text-align: center;
  padding: 0 31px;
  line-height: normal;
  letter-spacing: normal;
}

.information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px 15px 25px;
  color: $black;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background-color: #ffffff;
  border-radius: 20px;
  font-family: $grotesk-semibold;
  font-size: 16px;
  text-align: center;
  color: $highlight;
}

.infoTitle {
  font-size: 14px;
  padding: 0 15px;
}

.infoContent {
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0.27) 0%,
    rgba(217, 217, 217, 0.55) 100%
  );
  font-size: 7vw;
  padding: 0 20px;
  margin-top: 7px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.countdown {
    padding: 0 14px;
  }
}

.countdownContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1.3;
}

.merryChristmas {
  font-family: $grotesk-bold;
  font-size: 30px;
  align-self: center;
}

.hangingStockingsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  position: relative;
}

.ropesContainer {
  height: 100%;
  position: absolute;
  top: 0;

  .rope {
    padding-top: 15px;
    width: 100%;
  }
}

.fireplaceBackground {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
}

.fireplaceImage {
  position: absolute;
  bottom: 25px;
  height: 50%;
  transform: translateX(-50%);
  left: 50%;
}

.fireplaceButton {
  height: 49px;
}

.loginReminderButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}

.modalMessage {
  font-family: $grotesk-semibold;
  line-height: normal;
  font-size: 16px;
}

@media screen and (min-width: 480px) {
  .infoContent {
    font-size: 32px !important;
  }

  .backdrop {
    width: 400px;
    height: 900px;
  }

  .menu {
    width: 400px;
    height: 900px;
  }

  .ropeContainer {
    left: -10px;
    width: 410px;
  }
  .ropeTopContainer {
    top: -40px;
    height: 200px;
  }
  .ropeMiddleContainer {
    top: -60px;
    height: 200px;
  }
  .ropeBottomContainer {
    top: -80px;
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  .welcomeMessage {
    .headerMainMessage {
      font-size: 20px;
    }
  }

  .profileContainer {
    padding: 0;
  }

  .myFireplaceInstruction {
    font-size: 14px;
    padding: 0 15px;
  }

  .information {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 10px 15px;
    color: $black;
  }

  .infoContainer {
    padding: 10px 10px;
    font-size: 14px;
    text-align: center;
    color: $highlight;
  }

  .infoTitle {
    font-size: 12px;
    padding: 0 5px;
  }

  .infoContent {
    font-size: 18px;
    padding: 0 10px;
    margin-top: 5px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.countdown {
      padding: 0 14px;
    }
  }

  .merryChristmas {
    font-size: 25px;
  }
}
